/* Styles go here */
body{
background:black;  
}

.planet2d{
  border:none; 
  outline: none;
  height:200px;
  width:200px; 
  background-image: url(map2.JPG); 
 border-radius: 200px;
-webkit-box-shadow: 0 1px 20px 1px #ddd9ff, inset -83px -56px 100px #828aff;
-moz-box-shadow: 0 1px 20px 1px #ddd9ff, inset -83px -56px 100px #828aff;
box-shadow: 0 1px 20px 1px #ddd9ff, inset -83px -56px 100px #828aff;

}

